*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d6e1ff;
}
.box{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 60px;
}
.box> img{
    width: inherit;
    border-radius: 10px 10px 0 0;
}
.box >h2{
    background-color: white;
    padding-top: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.box> p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #8689a1;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}
.price-box{  
    width: 320px;
    height: 80px;
    background-color: #f8f9fe;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.price-box > .plan{
    background-color: #f8f9fe;
    text-align: center;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
strong{
    background-color: #f8f9fe;
}
.price-box > .change{
    background-color: #f8f9fe;
    float: right;
    margin-top: -30px;
    padding-right: 20px;
    color: #483ac4;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 16px;

}
i{
    color: #8689a1;
    background-color: #dfe7fd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    position: relative;
    top: 20px;
    left :20px;
}
button{
    position: relative;
    top: 30px;
    left :40px;
    background-color: #382ae1;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:13px 98px 13px 98px;
    color: white;
    box-shadow: 10px 10px 10px #d8d4f8;
}
.order{
    text-align: center;
    margin-top:30px;
}